<ion-view view-title="{{ 'Redigera avtal' | translate }}">
  <ion-content overflow-scroll="true" class="mry-settings mry-settings-price-retail-edit">
    <div ng-if="ctrl.loading" class="padding text-center">
      <ion-spinner></ion-spinner>
    </div>
    <p ng-if="!ctrl.loading" class="padding" translate>Elnätspriset består av en årsavgift och en överföringsavgift. Dessa prisuppgifter får du från ditt nätbolag.</p>
    <p class="padding" ng-if="!ctrl.loading && !ctrl.metric.metric_model" translate>Det går för nävarande inte att ändra elnätspriser för denna mätpunkt i appen.</p>
    <ion-list ng-if="!ctrl.loading && ctrl.metric.metric_model">
      <div class="item item-divider" translate>Årsavgift (kr / år)</div>
      <div class="item item-input padding-bottom">
         <input
           type="number"
           ng-keyup="ctrl.keyUp($event)"
           ng-model="ctrl.annualFee" />
      </div>
      <div class="item item-divider" translate>Överföringsavgift (öre / kWh)</div>
      <div class="item item-input padding-bottom">
         <input
           type="number"
           ng-keyup="ctrl.keyUp($event)"
           ng-model="ctrl.transferFee" />
      </div>

      <div class="item item-divider" translate>Energiskatt (öre / kWh)</div>
      <div class="item item-input padding-bottom">
        <input
          type="number"
          ng-keyup="ctrl.keyUp($event)"
          ng-model="ctrl.energyTax" />
      </div>

      <div class="item item-divider" translate>Från</div>
      <div class="item item-input padding-bottom">
         <input
           type="date"
           ng-model="ctrl.fromDate" />
      </div>

      <div class="item item-divider" translate>Till</div>
      <ion-item class="item-icon-right" href="" ng-click="ctrl.toDateType = 0">
        <span translate>Tills vidare</span>
        <i
          class="icon icon-accessory ion-checkmark-round"
          ng-if="ctrl.toDateType === 0"></i>
      </ion-item>
      <ion-item class="item-icon-right" href="" ng-click="ctrl.toDateType = 1">
        <span translate>Välj datum</span>
        <i
          class="icon icon-accessory ion-checkmark-round"
          ng-if="ctrl.toDateType === 1"></i>
      </ion-item>
      <div
        ng-if="ctrl.toDateType === 1"
        class="item item-input padding-bottom">
         <input
           type="date"
           ng-model="ctrl.toDate" />
      </div>
      <p class="padding text-center">
        <button
          class="button button-positive"
          ng-disabled="!ctrl.metric.metric_model || !ctrl.fromDate || (ctrl.toDateType === 1 && !ctrl.toDate)"
          ng-click="ctrl.save()" translate>Spara</button>
        <button
          ng-if="ctrl.metric._id"
          class="button button-assertive"
          ng-click="ctrl.deleteMetric()" translate>Radera</button>
      </p>
    </ion-list>
  </ion-content>
</ion-view>
