.has-header.mry-nordpool {
  top: 92px;
}

.item.mry-nordpool-item {
  height: 30px;
  line-height: 32px;
  font-size: 15px;

  .price-period {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 50px;
  }

  .price-bar-container {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 70px;
    right: 70px;

    > .price-bar {
      background-color: $royal;
      position: relative;
      height: 100%;
    }
  }

  .price {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    width: 50px;
    text-align: right;
  }
}
